.fashion {
  color: green;
}

.mansion {
  color: rgb(201, 89, 89);
}

.food {
  color: blue;
}

.unspecified {
  color: rgb(191, 23, 220);
}

.highlight {
  border: 2px solid rgb(128, 0, 0); /* or any style you prefer for highlighting */
}

.tag {
  margin-right: 8px; 
    
}



