

<main class="main">
  <div class="content">
    <a routerLink="content" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Content List
    </a><br />
    <a routerLink="content-list" routerLinkActive="active">Content List Complete </a><br />

    <a routerLink="pagewillnotbefound" routerLinkActive="active">
    Invalid page link
    </a><br /> <router-outlet></router-outlet>
<!-- <input type="number" [(ngModel)]="inputId" placeholder="Enter content ID">
<button (click)="loadContentById()">Load Content</button> -->

    
<!-- <app-modify-content-component (contentUpdated)="handleContentUpdated($event)"></app-modify-content-component> -->
<app-content-list></app-content-list>

<!-- <app-content-card *ngIf="selectedItem" [contentItem]="selectedItem"></app-content-card> -->
<app-message></app-message>
<!-- <app-modify-content-component (contentUpdated)="refreshContentList()"></app-modify-content-component> -->
<!-- Place this where you want the modify content form to appear -->
<!-- <app-modify-content-component (contentUpdated)="handleContentUpdated($event)"></app-modify-content-component>
xs
<app-content-list></app-content-list> -->


    
  </div>
</main>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />